@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

h1 {
  font-size: 50px;
  font-weight: lighter;
  color: rgb(66, 64, 64);
}

p{
  color: rgb(66, 64, 64);
}
